<ng-container *ngIf="navigation.children.length > 0">
	<a
		mat-list-item
		routerLink="na"
	>
		{{ navigation.title }}
	</a>

	<div class="child-nav">
		<ng-container
			[ngTemplateOutlet]="recursiveNavItem"
			[ngTemplateOutletContext]="{
				navigationDetails: navigation.children
			}"
		></ng-container>
	</div>
</ng-container>

<ng-container *ngIf="!navigation.children.length">
	<a
		mat-list-item
		routerLink="navigation.url"
	>
		{{ navigation.title }}
	</a>
</ng-container>

<!-- Calling Nav Item Recursively For child routes -->
<ng-template
	#recursiveNavItem
	let-nav="navigationDetails"
>
	<ng-container *ngIf="nav?.children?.length > 0">
		<a
			mat-list-item
			routerLink="na"
		>
			{{ nav.title }}
		</a>

		<div
			class="child-nav"
			*ngIf="nav?.children?.length > 0"
		>
			<ng-container
				[ngTemplateOutlet]="recursiveNavItem"
				[ngTemplateOutletContext]="{ navigationDetails: nav.children }"
			></ng-container>
		</div>
	</ng-container>

	<ng-container *ngIf="!nav?.children?.length">
		<ng-container *ngFor="let item of nav">
			<ng-container *ngIf="item?.children?.length > 0">
				<div class="child-nav">
					<ng-container
						[ngTemplateOutlet]="recursiveNavItem"
						[ngTemplateOutletContext]="{
							navigationDetails: item.children
						}"
					></ng-container>
				</div>
			</ng-container>

			<ng-container *ngIf="!item?.children?.length">
				<a
					mat-list-item
					routerLink="nav.url"
				>
					{{ item.title }}
				</a>
			</ng-container>
		</ng-container>
	</ng-container>
</ng-template>
